/* ============================
   SPOTIFY PROJECT VARIABLES
   ============================ */
.responsive-nav {
  display: none;
}

@media (max-width: 1086px) {
  .header-actions .icon-btn:not(:last-child) {
    display: none;
  }
}
@media (max-width: 1020px) {
  .nav-item.active {
    background-color: transparent;
    border-radius: 0;
  }
}
@media (max-width: 772px) {
  .header {
    display: none !important;
  }
  .sidebar {
    display: none;
  }
  .main-layout {
    background-color: black;
  }
  .responsive-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background: linear-gradient(180deg, rgba(17, 17, 17, 0.85) 0%, #111111 42.62%);
  }
  .responsive-nav div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
  }
  .responsive-nav p {
    color: #898989;
    font-family: "Satoshi";
    font-size: 12px;
    letter-spacing: 3%;
    margin: 0;
  }
}
/* ============================
   SPOTIFY PROJECT VARIABLES
   ============================ */
/* ============================
   SPOTIFY PROJECT VARIABLES
   ============================ */
.header {
  background-color: #060606;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Satoshi";
  font-weight: 400;
  font-size: 14px;
  position: fixed;
  height: 54px;
  top: 0;
  left: 259px;
  right: 0;
  z-index: 2;
}

.nav-list {
  display: flex;
  color: #898989;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
}

.nav-item {
  padding: 3px 95px 3px 11px;
}

.nav-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  letter-spacing: 3%;
}
.nav-item a:hover {
  color: #e0e0e0;
  transition: 0.3s ease;
}
.nav-item a img {
  filter: brightness(1.5);
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 13px;
}

/* ============================
   SPOTIFY PROJECT VARIABLES
   ============================ */
/* ============================
   SPOTIFY PROJECT VARIABLES
   ============================ */
.sidebar {
  background-color: #060606;
  color: #898989;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 2px;
  font-family: "satoshi";
  position: fixed;
  top: 0;
  left: 0;
  width: 259px;
  height: 100vh;
}

.library-list li {
  display: flex;
  align-items: center;
  gap: 11px;
  cursor: pointer;
  padding: 8px 10px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 3%;
}
.library-list li:hover {
  color: #e0e0e0;
  transition: 0.3s ease;
}
.library-list li img {
  filter: brightness(1.5);
}

/* ============================
   SPOTIFY PROJECT VARIABLES
   ============================ */
/* ============================
   SPOTIFY PROJECT VARIABLES
   ============================ */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #060606;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.main-layout {
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
