@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.sidebar {
    background-color: $color-bg;
    width: 259px;
    height: 100vh;
    color: $color-text-secondary;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 2px;
    font-family: 'satoshi';
    display: flex;
    gap: 11px;
}
.library-list {
    margin-left: 18px;

    li {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        padding: 8px 10px;
       // justify-content: space-between; //
        font-weight: 400;
        font-size: 14px;

    }
     &:hover {
        color: $color-text-primary;
        transition: 0.3s ease;
    }
    
      img {
        filter: brightness(1.5);
    }

}