.content-wrapper {
   
    margin-left: 259px; 
    
   
    padding-top: 60px; 
    
  
    min-height: 100vh;
    background-color:$color-bg;
    color:$color-text-secondary;
    
    .content-body {
        padding: 32px; 
    }
}